<!DOCTYPE html>
<html>
<head>

  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/dist/css/bootstrap.min.css">

  <!--<link rel="stylesheet" type="text/css" href="test_mp.css">-->



 <script>

      $(document).ready(function(){
        //$("#blah").removeClass('hidden');
        var clicked = true;

        $('.a').hover(function(){
          //$holder = $('#blah').detach();
          var tag = $(this).attr('id');
          //alert($(this).attr('id'));
          if(clicked){
            clicked = false;
            $(this).animate({"height":"150"});
            //$(this).append('<div id="blah">hello</div>');
            //$(this).add($("#blah").show());
            //$(this).text("Meet");
            //$(this).children('a').children('h5').toggleClass('employeeInfoHover');


            $("#"+tag).children("#fu").show();

            //alert($(this).attr('id'));
            //$("#" + inputID 
            //$(this).append('<div id="blah">hello</div>');
          }
          else{
            clicked = true;
            $(this).animate({"height":"65"});

            $("#"+tag).children("#fu").hide();
            //$(this).hide($('#blah'));
          }
          //$(".card").slideToggle();
          //$("h3").hide();
          
          //$(".card").toggle();
          //alert("selected");
          /*<div class="card" style="width:8rem">
                  <img src="/images/down.jpg" style="display:block; margin: 0 auto;" width="50" height="50" />
                </div>

                <div id="blah" style="display: none;">
                        hello
                      </div>



                */
        });
      });
</script>

</head>
<body>


    
    <div class="container">
      <div class="container-fluid">
      <table class="table table-borderless">
        <tbody>
            <tr>
            <div class="container-fluid">
            <h2><%= mycity%></h2>
            <% for(var j = 0; j < 5; j++) { %>
                <td class="text-center">
                  <div class="card" style="width:8rem;">
                    <div class="a" id="<%= j%>">
                      <h5><%= day[j]%></h5>
                      <h5><%= forecast[j] %>&#8457</h5>
                      <p id="fu" style="display: none;"><%= other[j]%> mph</p>
                    </div>
                  </div>
                </td>
            <% } %>
          </div>
            </tr>
        </tbody>
      </table>
    </div>
    </div>

   

</body>
</html>